@using FaaS.Models
@model Settings
@{
    ViewData["Title"] = "Settings";
}
<script src="~/js/Functions.js"></script>
<h2>Settings</h2>


<div>
    
        @{
            foreach(AzureConnectionString x in Model.Connections) {
                <div>
                    <input type="text" id="@x.AzureConnectionStringID" value="@x.ConnectionString" />
                    <button onclick="modifyConnection(@x.AzureConnectionStringID , document.getElementById(@x.AzureConnectionStringID).value)">Save</button>
                </div>
            }
        }
        <div>
            <input type="text" id="newConnection" />
            <button onclick="addConnection(document.getElementById('newConnection').value)">Save </button>
        </div>
</div>
