@using FaaS.Models
@model Settings
@{
    ViewData["Title"] = "Settings";
}
<script src="~/js/Functions.js"></script>
<h2>Settings</h2>


<div>
    <h1>@ViewBag.Message</h1>
        @{
            foreach(string x in Model.Connections) {
                <div>
                    <input type="text" value="@x" />
                </div>
            }
        }
        <div>
            <input type="text" id="newConnection" />
            <button onclick="addConnection(document.getElementById('newConnection').value)">Save </button>
        </div>
</div>
